* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(55, 94, 136);
    --secondary-color: rgb(83, 135, 190);
    --accent-color: rgb(250, 218, 122);
    --font-color: white;

}

html {
    font-family: "Funnel Display", sans-serif;
    background-image: url(Images/DSC00349.JPEG);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;

}

header {
    background-color: rgba(74, 161, 74, 0.37);
    position: fixed;
    display: flex;
    justify-content: center;
}

.menu-button {
    display: none;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5px;
    z-index: 5;
}

.links {
    margin-right: 30px;

}

.top-nav li {
    display: inline-flex;
    padding: 0px 5px;
}

.top-nav a {
    color: var(--font-color);
    text-decoration: none;
    transition: 150ms ease;
    font-size: 1.3rem;
}

.top-nav li:hover {
    scale: 1.1;
    background-color: var(--secondary-color);
    border-radius: 20%;
    padding: 5px;
}

.top-nav img:hover {
    scale: 1.1;
    border-radius: 20%;
}


.socials img {
    aspect-ratio: 1/1;
    height: 40px;
    object-fit: contain;
    padding: 5px 5px;
}

.dropdown-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 200px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(74, 161, 74, 0.37);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(10px);
}

.dropdown-links li {
    display: block;
    width: 100%;
}

.opening {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    flex-wrap: wrap
}

.opening h1 {
    font-size: 50pt;
}

.opening p {
    font-size: 15pt;
}

.opening h1,
p,
a {
    text-shadow: 2px 2px 8px black;
}

.opening div {
    width: 500px;
    margin: 100px;
    padding: 10px;
}

.opening span {
    color: var(--accent-color);
}

.opening img {
    background-color: rgba(21, 36, 23, 0.267);
    margin: 10px;
    height: 500px;
    width: 500px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px white solid;
    border-radius: 50%;
    padding-left: 50px;
    padding-top: 30px;
    filter: contrast(110%);
    z-index: -1;
}

.project-section>h2 {

    color: var(--font-color);
    font-size: 5rem;
    text-shadow: 2px 2px 8px black;
    padding: 70px;
}

.project-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(74, 161, 74, 0.37);
    width: 100vw;
}

.projects {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 10px;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
    height: 550px;
    background-color: rgba(23, 58, 30, 0.753);
    border: 2px solid black;
    border-radius: 2%;
    transition: 30ms ease;
    padding: 10px;
}

.project-box a {
    text-align: center;
    font-size: 1.4rem;
}

.project-box h2 {
    margin: 10px;
}

.project-box:hover {
    scale: 1.01;
}

.project-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

footer {
    padding: 100px 10px;

}

.contact-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    margin-top: 100px;
    width: 100vw;
}

.contact-sec img {
    display: inline-flex;
    aspect-ratio: 1/1;
    height: 50px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.contact-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-sec h4,
a,
h5,
p {
    color: var(--font-color);
    text-decoration: none;
}

.contact-sec h4 {
    font-size: 4rem;
    justify-self: center;
}

.contact-sec h5 {
    font-size: 3rem;
}



.contact-sec a {
    font-size: 25pt;

}

.contact-sec p {
    font-size: 3rem;

}

@media (max-width: 1200px) {
    .opening img {
        height: 300px;
        width: 300px;
    }

    .projects {
        flex-direction: column;
        align-items: center;

    }


    .menu-button {
        display: block;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-sec p {
        text-align: center;
    }


}

@media (max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    .projects {
        scale: .8;

    }

    #projects {
        font-size: 40pt;
    }

    .contact-container a {
        font-size: 15pt;
    }
}